<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<h3>Tambah Jabatan</h3>
		<form th:action="@{/jabatan/tambah}" th:object="${jabatan}" method="POST">
			<table>
				<tr>
					<td width="300">Nama</td>
					<td><input type="text" name="nama" class="form-control form-input"></td>
				</tr>
				<tr>
					<td width="300">Deskripsi</td>
					<td><input type="text" name="deskripsi" class="form-control form-input"></td>
				</tr>
				<tr> 
					<td width="300">Gaji Pokok</td>
					<td><input type="number" name="gajiPokok" class="form-control form-input"></td>
				</tr>
			</table>
			<button type="submit" class="btn btn-submit">Simpan</button>
		</form>
	</body>
</html>