<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="jumbotron text-center">
			<h1 class="display-4">Sistem Informasi Kepegawaian</h1>
			<h4>Selamat datang di Sistem Informasi Kepegawaian</h4>
		</div>
		<div class="row text-center">
			<div class="col-md-4">
				<div class="container form-area">
					<div class="form-box">
						<h3>Lihat Data Pegawai berdasarkan NIP</h3>
						<p>Masukkan Nomor Induk Pegawai</p>
						<form th:action="@{/pegawai}" method="GET">
							<input type="text" name="nip" class="form-control" />
							<button type="submit" class="btn btn-primary btn-block">Lihat</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="container form-area">
					<div class="form-box">
						<h3>Lihat Detail Jabatan</h3>
						<br>
						<p>Pilih Jabatan</p>
						
						<form th:action="@{/jabatan/view}" id="formJabatan" method="GET">
							<select required="required" name="idJabatan" form="formJabatan" class="form-control">
								<option disabled="disabled" selected="selected">Pilih Jabatan</option>
								<span th:each="jabatan : ${listJabatanAll}">
									<option th:value="${jabatan.id}" th:text="${jabatan.nama}"></option>
								</span>
							</select>
							<button type="submit" class="btn btn-primary btn-block">Lihat</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="container form-area">
					<div class="form-box">
						<h3>Lihat Pegawai Tertua dan Termuda</h3>
						<p>Pilih Instans</p>
						<form th:action="@{/pegawai/termuda-tertua}" id="formPegawaiMudaTua" method="GET">
							<select required="required" name="idInstansi" form="formPegawaiMudaTua" class="form-control">
								<option disabled="disabled" selected="selected">Pilih Instansi</option>
								<span th:each="instansi : ${listInstansiAll}">
									<option th:value="${instansi.id}" th:text="${instansi.nama}"></option>
								</span>
							</select>
							<button type="submit" class="btn btn-primary btn-block">Lihat</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>