<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
			<br>
			<h3 class="text-center">Jumlah Pegawai di Setiap Jabatan</h3>
			<br>
			
			<table id="tabelJabatan" class="display">
				<thead>
					<tr>
						<th>Jabatan</th>
						<th>Jumlah Pegawai</th>
					</tr>
				</thead>
				<tbody>
					<span th:each="jabatan : ${listJabatanAll}">
						<tr>
							<td th:text="${jabatan.nama}"></td>
							<td th:text="${#lists.size(jabatan.pegawais)}"></td>
						</tr>
					</span>
				</tbody>
			</table>	
		</div>
		
		<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
		
		<script>
		$(document).ready( function () {
		    $('#tabelJabatan').DataTable();
		} );
		</script>
	</body>
</html>