<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<object th:include="fragments/fragment :: header" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h3>Data Pegawai Termuda</h3>
					<table>
						<tr>
							<td height="30" width="300">NIP</td>
							<td th:text="${pegawaiTermuda.nip}"></td>
						</tr>
						<tr>
							<td height="30">Nama</td>
							<td th:text="${pegawaiTermuda.nama}"></td>
						</tr>
						<tr>
							<td height="30">Tempat Lahir</td>
							<td th:text="${pegawaiTermuda.tmpLahir}"></td>
						</tr>
						<tr>
							<td height="30">Tanggal Lahir</td>
							<td th:text="${pegawaiTermuda.tglLahir}"></td>
						</tr>
						<tr>
							<td height="30">Tahun Masuk</td>
							<td th:text="${pegawaiTermuda.thnMasuk}"></td>
						</tr>
						<tr>
							<td height="30">Nama Instansi</td>
							<td th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></td>
						</tr>
						<tr>
							<td style="vertical-align: top;" height="30">Jabatan</td>
							<td style="vertical-align: top;">
								<ul th:each="jabatanMuda : ${jabatanPegawaiTermuda}">
									<li><p th:text="${jabatanMuda.nama}"></p></li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<h3>Data Pegawai Tertua</h3>
					<table>
						<tr>
							<td height="30" width="300">NIP</td>
							<td th:text="${pegawaiTertua.nip}"></td>
						</tr>
						<tr>
							<td height="30">Nama</td>
							<td th:text="${pegawaiTertua.nama}"></td>
						</tr>
						<tr>
							<td height="30">Tempat Lahir</td>
							<td th:text="${pegawaiTertua.tmpLahir}"></td>
						</tr>
						<tr>
							<td height="30">Tanggal Lahir</td>
							<td th:text="${pegawaiTertua.tglLahir}"></td>
						</tr>
						<tr>
							<td height="30">Tahun Masuk</td>
							<td th:text="${pegawaiTertua.thnMasuk}"></td>
						</tr>
						<tr>
							<td height="30">Nama Instansi</td>
							<td th:text="${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></td>
						</tr>
						<tr>
							<td style="vertical-align: top;" height="30">Jabatan</td>
							<td style="vertical-align: top;">
								<ul th:each="jabatanTua : ${jabatanPegawaiTertua}">
									<li><p th:text="${jabatanTua.nama}"></p></li>
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>